[Unit]
Description=psstop systemd service.

[Service]
Type=simple
ExecStart=/usr/bin/smartpsstop -m -p systemd
Restart=on-failure
StandardOutput=file:/var/log/logfile

[Install]
WantedBy=multi-user.target
